
.new-container{
  margin: 0 auto;
  width: 50%;
  font-size: 15px;
}
.new-image{
  height: 20vh;
}
.submit-return{
  border: 1px solid green;
  margin: 27.5rem;
  background-color: green;
  color: white;
}