<h1>
<%= link_to "List Up", root_path%>
</h1>
<div class="grid">
  <% @post.each do |post| %>
  <div class="item">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.image, class:"list-img" %>
      <p><%= post.title %></p>
    <% end %> 
  </div>
   <% end %>
</div>