<h1>
  <%= link_to "Genre", root_path%>
</h1>
<%# 検索結果の個数で条件分岐 %>
<div class="contents row">

<% if @results.length !=0 %>

  <%  @results.each do |post| %>
    <div class='item'>
          <%if post%>
            <div class='list'>
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.image , class: "list-img" if post.image.attached? %>
                <p><%= post.title %></p>
              <% end %>
            </div>
          <%end%>

    </div>

  <% end %>
<% else %>
  該当する商品はありません
<% end %>

