*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}



.animate {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.button {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
}


.row .grid-1 {
  width: 6.53333%;
}

.row .grid-2 {
  width: 14.86667%;
}

.row .grid-3 {
  width: 23.2%;
}

.row .grid-4 {
  width: 31.53333%;
}

.row .grid-5 {
  width: 39.86667%;
}

.row .grid-6 {
  width: 48.2%;
}

.row .grid-7 {
  width: 56.53333%;
}

.row .grid-8 {
  width: 64.86667%;
}

.row .grid-9 {
  width: 73.2%;
}

.row .grid-10 {
  width: 81.53333%;
}

.row .grid-11 {
  width: 89.86667%;
}

.row .grid-12 {
  width: 98.2%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.column,
.row.collapse>.columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

@media only screen and (max-width: 40em) {

  .row {
    width: 100%;
    padding: 0 20px !important;
  }

  .row .grid-1,
  .row .grid-2,
  .row .grid-3,
  .row .grid-4,
  .row .grid-5,
  .row .grid-6,
  .row .grid-7,
  .row .grid-8,
  .row .grid-9,
  .row .grid-10,
  .row .grid-11,
  .row .grid-12 {
    float: none;
    width: 100% !important;
    margin: 0 !important;
    position: static !important;
  }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .row .grid-1,
  .row .grid-2,
  .row .grid-3,
  .row .grid-4 {
    width: 48.2% !important;
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}


.bold {
  font-weight: bold;
}

.serif,
div.contents.row div.content_post p {
  font-family: 'ほのか明朝', serif;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: #D8D8D8;
}



.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}


.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}


